*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.pyc
*.log
*.pdf
*.py~

bleva-ios
benchmark-results
bleva-android/build
BlueMorpho*
Bluetooth
TODO.md
Tests
